<div class="card">
 <div>
 </div>
 <div class="a">
  <strong>
   Empoloyee Registration Form
  </strong>
 </div>
 <br>
 <form [formGroup]="loginForm">
  Full Name : <input type="text" placeholder="Enter your Name">
  User name : <input type="text" placeholder="Enter your Name" formControlName="name">
  <br><br>
  Email ID : <input type="email" placeholder="Enter your Mail">
  Phone No : <input type="number" placeholder="Enter your number">
  <br><br>
  Password : &nbsp;<input type="password" placeholder="Enter your Password">
  Confirm Password : <input type="password" placeholder="Enter your password">

  <br><br>
  Gender :
  <input type="radio" name="gender" value="male"> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other
  <br><br>
  <button style="margin: 50px; padding: 10px" type="button" class="btn btn-primary">Login
  </button>
  <a routerLink="/loginpage">
   <button type="submit">Register</button>
  </a>
 </form>
</div>